.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#stayInside {
    background-image: url("assets/background.png");
    position: relative;
    background-size: 100%;
}

#siTitle {
    font-weight: 1000;
    text-align: center;
}

#siButtons a {
    margin: 3px;
}

#siDoggo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#stayInsideContent {
    padding: 25px;
}

#expandoBox {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#expandoBox ul {
    margin: 0;
    padding: 0;
}

#expandoBox li {
    float: left;
    display: block;
    width: 14.2857%;
    text-align: center;
    list-style-type: none;
}

#expandoBox li:nth-child(n+1):nth-child(-n+7) {
    font-weight: 900;
    color: #e67e22;
}

#expandoBox li:nth-child(n+39),
#expandoBox li:nth-child(n+8):nth-child(-n+34) {
    font-weight: 900;
    color: rgba(0, 0, 0, .3);
}

#expandoBox li:hover:nth-child(n+8):nth-child(-n+38),
#expandoBox li:nth-child(35) {
    border-radius: 10px;
    background-color: #1abc9c;
    color: #ecf0f1;
}