ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
}

li {
  display: grid;
  align-items: left;
  justify-content: top;
  border-radius: 10px;
}

.day-bg {
  background: -webkit-linear-gradient(#FB927F, #FCD88E);
  text-align: center;
  font-size: 25px;
  width: 7.5vw;
}

.circle {
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  padding: 2px;
  margin: 4px;
  background: #C4C4C4;
  color: white;
  text-align: center;
}

ul.weekdays {
  margin-bottom: 1em;
}

ul.day-grid li {
  height: 7vw;
  width: 7vw;
  border: 3px solid #787777;
}
