/* import font: assistant */
@import url('https://fonts.googleapis.com/css?family=Assistant:600,700,800&display=swap');

.hg__header { grid-area: header; }
.hg__footer { grid-area: footer; }
.hg__main { grid-area: main; }
.hg__left { grid-area: navigation; }

header{
  text-align: center;
}

.hg {
  font-family: 'Assistant', sans-serif;
	display: grid;
	grid-template-areas: "navigation main ads"
	                     "footer footer footer";
	grid-template-columns: 30% 1fr;
	grid-template-rows: 1fr 30px;
	min-height: 100vh;
}

/* LEFT */
.hg__left {
  background-image: url("assets/bg.png");
  position: relative;
  background-size: 100%;
  padding: 10px;
}

.box-img {
  height: 25vh;
  border:3px solid #000;
  background-color: white;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  width: fill;
}

@media screen and (max-width: 900px) {
	.hg {
		grid-template-areas: "navigation"
		                     "main"
		                     "footer";
		grid-template-columns: 100%;
		grid-template-rows: 100%
							1fr
							30px;
	}

  .hg__main {
      align-items: center;
  }
}

/* RIGHT */
.login {
  align-items: right;
}

.hg__main {
  padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
  padding-top: 60px;
  border-radius: 10px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 30%;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.animate-back {
  -webkit-animation: animatezoom-back 0.6s;
  animation: animatezoom-back 0.6s
}

@keyframes animatezoom-back {
  from {transform: scale(1)}
  to {transform: scale(0)}
}

/* FOOTER */
.hg__footer {
  background-color: pink;
}
